@import "tailwindcss";

:root {
  --first-color: #00b2bf;
  --secondary-color: #575757;
  --text-color: #333333;
  --background: #f5f2f0;
  --foreground: #171717;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--text-color);
}

.span-color {
  color: var(--first-color);
}

.button {
  background-color: var(--first-color);
}

/* Header */
#header .logo {
  background-color: var(--first-color);
}



/* Header */
/* Hero */
#hero p {
  color: var(--secondary-color);
}

/* Hero */
/* About Us */
#about-us h3 {
  color: var(--first-color);
}

#about-us p {
  color: var(--secondary-color);
}

/* About Us */
/* Gallery */


.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
    /* Move left by 100% of the container */
  }
}


/* Gallery */

/* Contact Us */

/* Contact Us */